doctype
html
  head
    // Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='vietport', content='width=device-width, initial-scale=1')
    meta(description='', content='')
    meta(keywords='', content='')
    meta(author='', content='Andy Tran')

    // Title
    title Maverick - App &amp; Software Landing Page

    // Stylesheets
    // bower:css
    // endbower
    link(rel='stylesheet' href='assets/css/main.css')

  body
    // JavaScript
    // bower:js
    // endbower